:root {
	--rounded: 10px;
	--circle: 70px;
}
.combar-fs-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	pointer-events: none;
	z-index: 9999999999999999;
}
body.admin-bar .combar-fs-wrapper {
  top: 32px;
  height: calc(100% - 32px);
}
.combar-fs-scrollbox.scroll-content {
	overflow-x: hidden !important;
}
body.fs-open .combar-fs-wrapper {
	visibility: visible;
	pointer-events: all;
}
.combar-fs-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	opacity: 0;
	transition: var(--fs-transition) var(--fs-transition);
}
.combar-fs-container {
	position: absolute;
	top: 0;
	height: 100%;
	background: #fff;
	width: var(--fs-width);
	max-width: calc(100% - var(--fs-close-size) - var(--fs-close-gap));
	transition: var(--fs-transition) 0s;
	z-index: 900;
}
.combar-fs-scrollbox {
	overflow: auto;
	height: 100%;
	width: 100%;
	position: relative;
}
body.fs-side-left .combar-fs-wrapper .combar-fs-container {
	left: 0;
	transform: translateX(-100%);
}
body.fs-side-right .combar-fs-wrapper .combar-fs-container {
	right: 0;
	transform: translateX(100%);
}
body.fs-open .combar-fs-wrapper .combar-fs-overlay {
	opacity: 1;
	transition: var(--fs-transition) 0s;
}
body.fs-open .combar-fs-wrapper .combar-fs-container {
	transform: translateX(0);
}
body.fs-open .combar-fs-wrapper .combar-fs-container {
	transition: var(--fs-transition) var(--fs-transition);
}
body.fs-disable-scroll {
	overflow-y: hidden !important;
}
.fs-close-outside {
	width: calc(100% - var(--fs-width));
	min-width: calc(var(--fs-close-size) + var(--fs-close-gap));
	height: 100%;
	pointer-events: none;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: var(--fs-transition);
}
body.fs-side-left .fs-close-outside {
	left: var(--fs-width);
}
body.fs-side-right .fs-close-outside {
	right: var(--fs-width);
}
body.fs-open .fs-close-outside {
	visibility: visible;
	opacity: 1;
}
.fs-close {
	position: absolute;
	padding: 7px;
	box-sizing: border-box;
	pointer-events: all;
	display: flex;
	cursor: pointer;
}
.fs-close svg {
	width: 100%;
	height: 100%;
	stroke-width: 20;
}
.combar-fs-trigger {
	position: fixed;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-decoration: none !important
}
.combar-fs-trigger.fs-shadow {
	box-shadow: 0 0 7px 0 var(--fs-trigger-shadow);
}
.combar-fs-trigger.trigger-reverse {
	flex-direction: row-reverse;
}
body.fs-side-left .combar-fs-trigger {
	left: var(--fs-trigger-h);
}
body.fs-side-right .combar-fs-trigger {
	right: var(--fs-trigger-h);
}
@media screen and (min-width:480px) {
	.combar-fs-trigger.trigger-align-top {
		top: var(--fs-trigger-v);
	}
	.admin-bar:not(.wp-admin) .combar-fs-trigger.trigger-align-top {
		top: calc(32px  +  var(--fs-trigger-v));
	}
	.combar-fs-trigger.trigger-align-center {
		top: 50%;
		transform: translateY(-50%);
	}
	.combar-fs-trigger.trigger-align-bottom {
		bottom: var(--fs-trigger-v);
	}
}
@media screen and (max-width:480px) {
	.admin-bar .combar-fs-trigger.trigger-align-mob-top {
		top: calc(46px  +  var(--fs-trigger-mob-v));
	}
	.combar-fs-trigger.trigger-align-mob-center {
		top: 50%;
		transform: translateY(-50%);
	}
	.combar-fs-trigger.trigger-align-mob-bottom {
		bottom: var(--fs-trigger-mob-v);
	}
	body.fs-side-left .combar-fs-trigger {
		left: var(--fs-trigger-mob-h);
	}
	body.fs-side-right .combar-fs-trigger {
		right: var(--fs-trigger-mob-h);
	}
}
.combar-fs-trigger .fs-trigger-icon,
.combar-fs-trigger .fs-trigger-title {
	display: block;
	text-align: center;
}
.combar-fs-trigger.trigger-size-small {
	line-height: 30px;
	font-size: 19px;
}
.combar-fs-trigger.trigger-size-small .fs-trigger-icon {
	width: 30px;
	height: 30px;
}
.combar-fs-trigger.trigger-size-small .fs-trigger-title {
	padding: 0 13px;
}
.combar-fs-trigger.trigger-size-medium {
	line-height: 45px;
	font-size: 24px;
}
.combar-fs-trigger.trigger-size-medium .fs-trigger-icon {
	width: 45px;
	height: 45px;
}
.combar-fs-trigger.trigger-size-medium .fs-trigger-title {
	padding: 0 20px;
}
.combar-fs-trigger.trigger-size-big {
	line-height: 60px;
	font-size: 32px;
}
.combar-fs-trigger.trigger-size-big .fs-trigger-icon {
	width: 60px;
	height: 60px;
}
.combar-fs-trigger.trigger-size-big .fs-trigger-title {
	padding: 0 30px;
}
.combar-fs-trigger.shape-circle.trigger-style_3 .fs-trigger-icon,
.combar-fs-trigger.shape-circle:not(.trigger-style_3) {
	border-radius: var(--circle);
	overflow: hidden;
}
.combar-fs-trigger.shape-rounded.trigger-style_3 .fs-trigger-icon,
.combar-fs-trigger.shape-rounded:not(.trigger-style_3) {
	border-radius: var(--rounded);
	overflow: hidden;
}
.combar-fs-trigger.trigger-style_1 {
	writing-mode: vertical-rl;
}
.combar-fs-trigger.trigger-style_1.trigger-size-small .fs-trigger-title {
	padding: 13px 0;
}
.combar-fs-trigger.trigger-style_1.trigger-size-medium .fs-trigger-title {
	padding: 20px 0;
}
.combar-fs-trigger.trigger-style_1.trigger-size-big .fs-trigger-title {
	padding: 30px 0;
}
body.fs-side-left .combar-fs-trigger.trigger-style_1 .fs-trigger-title {
	transform: rotate(180deg);
}
.combar-fs-trigger.trigger-style_3 .fs-trigger-title {
	border-radius: 7px;
	position: absolute;
	line-height: 24px;
	font-size: 14px;
	white-space: nowrap;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
	visibility: hidden;
	opacity: 0;
	transition: .2s;
}
.combar-fs-trigger.trigger-style_3 .fs-trigger-title::before {
	content: "";
	width: 0;
	height: 0;
	border-width: 5px;
	border-style: solid;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
body.fs-side-left .combar-fs-trigger.trigger-style_3 .fs-trigger-title::before {
	border-color: transparent var(--fs-trigger-title) transparent transparent;
	left: -9px;
}
body.fs-side-right .combar-fs-trigger.trigger-style_3 .fs-trigger-title::before {
	border-color: transparent transparent transparent var(--fs-trigger-title);
	right: -9px;
}
body.fs-side-left .combar-fs-trigger.trigger-style_3.trigger-size-small .fs-trigger-title {
	left: 45px;
}
body.fs-side-left .combar-fs-trigger.trigger-style_3.trigger-size-medium .fs-trigger-title {
	left: 60px;
}
body.fs-side-left .combar-fs-trigger.trigger-style_3.trigger-size-big .fs-trigger-title {
	left: 75px;
}
body.fs-side-right .combar-fs-trigger.trigger-style_3.trigger-size-small .fs-trigger-title {
	right: 45px;
}
body.fs-side-right .combar-fs-trigger.trigger-style_3.trigger-size-medium .fs-trigger-title {
	right: 60px;
}
body.fs-side-right .combar-fs-trigger.trigger-style_3.trigger-size-big .fs-trigger-title {
	right: 75px;
}
.combar-fs-trigger.trigger-style_3:hover .fs-trigger-title {
	visibility: visible;
	opacity: 1;
}
@media screen and (max-width:480px) {
	.combar-fs-trigger.size-mob-small {
		line-height: 30px;
		font-size: 19px;
	}
	.combar-fs-trigger.size-mob-small .fs-trigger-icon {
		width: 30px;
		height: 30px;
	}
	.combar-fs-trigger.size-mob-small .fs-trigger-title {
		padding: 0 13px;
	}
	.combar-fs-trigger.size-mob-medium {
		line-height: 45px;
		font-size: 24px;
	}
	.combar-fs-trigger.size-mob-medium .fs-trigger-icon {
		width: 45px;
		height: 45px;
	}
	.combar-fs-trigger.size-mob-medium .fs-trigger-title {
		padding: 0 20px;
	}
	.combar-fs-trigger.size-mob-big,
	.combar-fs-trigger.trigger-size-big {
		line-height: 60px;
		font-size: 32px;
	}
	.combar-fs-trigger.size-mob-big .fs-trigger-icon {
		width: 60px;
		height: 60px;
	}
	.combar-fs-trigger.size-mob-big .fs-trigger-title {
		padding: 0 30px;
	}
	.combar-fs-trigger.trigger-style_1.size-mob-small .fs-trigger-title {
		padding: 13px 0;
	}
	.combar-fs-trigger.trigger-style_1.size-mob-medium .fs-trigger-title {
		padding: 20px 0;
	}
	.combar-fs-trigger.trigger-style_1.size-mob-big .fs-trigger-title {
		padding: 30px 0;
	}
	body.fs-side-left .combar-fs-trigger.trigger-style_3.size-mob-small .fs-trigger-title {
		left: 45px;
	}
	body.fs-side-left .combar-fs-trigger.trigger-style_3.size-mob-medium .fs-trigger-title {
		left: 60px;
	}
	body.fs-side-left .combar-fs-trigger.trigger-style_3.size-mob-big .fs-trigger-title {
		left: 75px;
	}
	body.fs-side-right .combar-fs-trigger.trigger-style_3.size-mob-small .fs-trigger-title {
		right: 45px;
	}
	body.fs-side-right .combar-fs-trigger.trigger-style_3.size-mob-medium .fs-trigger-title {
		right: 60px;
	}
	body.fs-side-right .combar-fs-trigger.trigger-style_3.size-mob-big .fs-trigger-title {
		right: 75px;
	}
}
.sf-block {
	position: relative;
}
.fs-block:not(.fs-no-sep):not(:last-child) {
	padding-bottom: var(--fs-sep-height);
}
.fs-block-container {
	position: relative;
	padding: 15px;
	display: block;
	text-decoration: none !important;
}
.fs-block:not(.fs-no-sep):not(:last-child) .fs-block-container::after {
	content: "";
	display: block;
	width: 100%;
	height: var(--fs-sep-height);
	position: absolute;
	left: 0;
	bottom: calc(var(--fs-sep-height) * -1);
	background: var(--fs-sep-color);
	z-index: 1;
}
.fs-block-heading {
	flex: 1;
}
.fs-block-head {
	display: flex;
	align-items: center;
}
.fs-block-icon {
	font-size: var(--fs-icon);
	margin-inline-end: var(--fs-icon-gap);
	color: var(--fs-main);
	text-align: center;
	display: block;
}
.fs-block-title {
	font-size: var(--fs-title);
	line-height: var(--fs-title);
	font-weight: var(--fs-title-weight);
	color: var(--fs-main);
	line-height: 1.1;
	width: 100%;
}
.fs-block-subtitle {
	font-size: var(--fs-subtitle);
	font-weight: var(--fs-subtitle-weight);
	color: var(--fs-secondary);
	line-height: 1.1;
	width: 100%;
}
.fs-block-heading,
.fs-block-heading > :last-child:not(:first-child) {
	margin-top: 6px;
}
.fs-block-content:not(:first-child) {
	margin-top: var(--fs-content-gap);
}
.fs-block-content:empty {
	display: none;
}
.fs-block-content > :first-child {
	margin-top: 0;
}
.fs-block-content > :last-child {
	margin-bottom: 0;
}
.fs-block.fs-block-head-align-left .fs-block-container .fs-block-heading {
	text-align: left;
}
.fs-block.fs-block-head-align-center .fs-block-container .fs-block-heading {
	text-align: center;
}
.fs-block.fs-block-head-align-right .fs-block-container .fs-block-heading {
	text-align: right;
}
.fs-block.fs-block-align-left .fs-block-container .fs-block-content {
	text-align: left;
}
.fs-block.fs-block-align-center .fs-block-container .fs-block-content {
	text-align: center;
}
.fs-block.fs-block-align-right .fs-block-container .fs-block-content {
	text-align: right;
}
.fs-block-content img {
	max-width: 100%;
	height: auto;
}
.fs-block-banner {
	background-size: cover;
	background-position: center;
	padding: 15px;
	box-sizing: border-box;
	position: relative;
}
.fs-block-banner-over {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .5);
	z-index: 0;
}
.fs-block-banner-content {
	position: relative
}
.fs-block-banner-content > :not(:first-child) {
	margin-top: 10px;
}
.fs-block-btn {
	display: inline-block;
	line-height: 1;
	padding: 7px 10px;
	background: var(--fs-main);
	color: #fff;
	border-radius: 3px;
}
.fs-socials {
	display: flex;
	flex-wrap: wrap;
}
.fs-block.fs-block-align-center .fs-socials {
	justify-content: center;
}
.fs-block.fs-block-align-left .fs-socials,
[dir=rtl] .fs-block.fs-block-align-right .fs-socials {
	justify-content: flex-start;
}
.fs-block.fs-block-align-right .fs-socials,
[dir=rtl] .fs-block.fs-block-align-left .fs-socials {
	justify-content: flex-end;
}
.fs-socials a {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 24px;
	color: #fff;
	transition: .3s;
}
.fs-stretch > a {
	flex: 1;
}
.fs-socials.fs-socials-rounded a {
	border-radius: 10px;
}
.fs-socials.fs-socials-circle a {
	border-radius: 50px;
}
.fs-socials.fs-socials-style_3 a {
	border: 3px solid;
	box-sizing: border-box;
	line-height: 36px;
	font-size: 22px;
	color: var(--fs-main);
	background: var(--fs-secondary);
}
.fs-socials.fs-socials-style_2 a {
	color: var(--fs-secondary);
	background: var(--fs-main);
}
.fs-socials.fs-socials-style_1 a:hover {
	color: #fff;
	opacity: .8;
}
.fs-socials.fs-socials-style_2 a:hover {
	color: var(--fs-main);
	background: var(--fs-secondary);
}
.fs-socials.fs-socials-style_3 a:hover {
	color: var(--fs-secondary);
	background: var(--fs-main);
}
.fs-socials.fs-socials-style_1 a.fs-whatsapp {
	background: #25d366;
}
.fs-socials.fs-socials-style_1 a.fs-telegram {
	background: #0084c6;
}
.fs-socials.fs-socials-style_1 a.fs-twitter {
	background: #1d9bf0;
}
.fs-socials.fs-socials-style_1 a.fs-youtube {
	background: red;
}
.fs-socials.fs-socials-style_1 a.fs-pinterest {
	background: #e60023;
}
.fs-socials.fs-socials-style_1 a.fs-linkedin {
	background: #0a66c2;
}
.fs-socials.fs-socials-style_1 a.fs-facebook {
	background: #1877f2;
}
.fs-socials.fs-socials-style_1 a.fs-vk {
	background: #07f;
}
.fs-socials.fs-socials-style_1 a.fs-tiktok {
	background: #000;
}
.fs-socials.fs-socials-style_1 a.fs-behance {
	background: #000;
}
.fs-socials.fs-socials-style_1 a.fs-skype {
	background: #02aff3;
}
.fs-socials.fs-socials-style_1 a.fs-vimeo {
	background: #00aef0;
}
.fs-socials.fs-socials-style_1 a.fs-snapchat {
	background: #fffc00;
}
.fs-socials.fs-socials-style_1 a.fs-instagram {
	background: radial-gradient(circle at 30% 107%, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
@media screen and (min-width:990px) {
	.combar-fs-trigger.fs-hide-desk,
	.fs-block.fs-hide-desk {
		display: none;
	}
}
@media screen and (min-width:481px) and (max-width:989px) {
	.combar-fs-trigger.fs-hide-tab,
	.fs-block.fs-hide-tab {
		display: none;
	}
}
@media screen and (max-width:480px) {
	.combar-fs-trigger.fs-hide-mob,
	.fs-block.fs-hide-mob {
		display: none;
	}
}